/* general and body */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* header */
header {
  margin-top: 2rem;
}

.header-text {
  text-align: center;
}

.header-text h1 {
  font-size: 3rem;
}
.header-text p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

/* nav */
nav {
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* switch menu */
nav ul {
  margin-top: 1.5rem;
  border: solid black 0.125rem;
  border-radius: 0.625rem;
  overflow: hidden;
}

nav ul li {
  list-style: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

/* hover over switch options */
nav ul li:hover {
  background: #cecece;
}

.menu-options {
  position: absolute;
  top: 3.5rem;
  right: 7rem;
  z-index: 10;
  display: none;
}

nav .fa-circle-half-stroke {
  font-size: 2rem;
  cursor: pointer;
}

/* border line of header section */
.row-line {
  margin-top: 4rem;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
}

/* main section sub-heading-container */
.container-sub-heading {
  margin-top: 3rem;
  text-align: center;
}
.container-sub-heading h2 {
  margin: 2rem 0;
  font-size: 2rem;
}

/* first question container */

.container-q1 {
  margin-top: 5rem;
  text-align: center;
}
.container-q1 p {
  margin-bottom: 1rem;
}

.container-q1 label {
  margin-left: 2rem;
}

.question3 {
  margin-bottom: 6rem;
}

/* submit button */
